/* CSS UI */

/* START BUTTON */
.startButtonIdle {
    content:url('../images/UI/startGif.gif');
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startButtonHold {
    content:url('../images/UI/startHold.png');
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





player {
    background-image: url('../images/player/Player.gif');
}
